<ul>
    <li *ngFor="let article of articles">
        {{ article.designation }}: {{ article.prix }}€
    </li>
</ul>

<p>Total: {{ totalPrice }}€</p>

<h3>Ajouter un article</h3>

<form [formGroup]="article" (ngSubmit)="addArticle()">
    <label for="designation">
    Designation:
    <input type="text" formControlName="designation">
  </label>

    <label for="prix">
    Prix:
    <input type="number" formControlName="prix">
  </label>

    <button type="submit" [disabled]="article.invalid">Ajouter</button>
</form>