<!-- <app-first-component></app-first-component> -->
<!-- <app-user></app-user> -->
<!-- <app-carte-visite></app-carte-visite> -->
<!-- <app-alert-button></app-alert-button> -->
<!-- <app-liste></app-liste> -->
<!-- <app-magie></app-magie> -->

<!-- <app-liste-filtre></app-liste-filtre> -->

<!-- <app-exo1></app-exo1> -->

<!-- <app-exercice1></app-exercice1> -->

<!-- <app-date></app-date> -->

<!-- <app-button-alert buttonTitle="ping" alertMessage="Pong"></app-button-alert> -->

<!-- <app-button-menu></app-button-menu> -->

<!-- <app-exo2-enfant></app-exo2-enfant> -->

<!-- <app-exo2-parent></app-exo2-parent> -->

<!-- <app-liste-courses></app-liste-courses> -->

<app-reactive-liste-courses></app-reactive-liste-courses>

<!-- <router-outlet></router-outlet> -->